services:
  minecraft:
    image: itzg/minecraft-server:latest
    tty: true
    stdin_open: true
    container_name: minecraft-server
    ports:
      - "25565:25565"
      - "19132:19132/udp"
      - "19133:19133/udp"
      - "24454:24454/udp"

    environment:
      EULA: "TRUE"
      TYPE: "FABRIC"
      MAX_MEMORY: "4096M"
      MOTD: "TEJAAAAS WORLD"
      ONLINE_MODE: "false"
      USE_AIKAR_FLAGS: "true"
      USE_MEOWICE_FLAGS: "true"
      TZ: "Asia/Kolkata"
      DIFFICULTY: "2"
      VIEW_DISTANCE: "32"
      MODRINTH_PROJECTS: |-
        ferrite-core
        lithium
        appleskin
        simple-voice-chat
        clumps
        ore-harvester
        tree-harvester
        krypton
        villager-names-serilum
        rightclickharvest
        easyauth
      MODRINTH_DOWNLOAD_DEPENDENCIES: "required"
      ENFORCE_SECURE_PROFILE: "false"
      RCON_CMDS_STARTUP: |-
        gamerule playersSleepingPercentage 1
      BUG_REPORT_LINK: "https://github.com/pranaovs/minecraft-server-docker"
      LOG_TIMESTAMP: "true"

    restart: unless-stopped

    volumes:
      - "./data:/data:U"
